<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.tydyzs.intermediary.marriage.mapper.CustomerManageMapper">


    <!--客户列表，因为有分页参数，所以查询参数加“param.”-->
    <select id="queryCustomer" parameterType="map" resultType="cn.stylefeng.guns.modular.tydyzs.intermediary.marriage.entity.CustomerManage">
        select t1.*
        from BLIND_DATE_CUSTOMER t1 where is_delete = '1'
        <if test="param.name != null and param.name != ''">
            and t1.name like CONCAT('%',#{param.name},'%')
        </if>
    </select>
    <!--客户列表(所有：此时直接写参数名，无需写“param.”）-->
    <select id="queryCustomerAll" parameterType="map" resultType="cn.stylefeng.guns.modular.tydyzs.intermediary.marriage.entity.CustomerManage">
        select t1.*
        from BLIND_DATE_CUSTOMER t1 where is_delete = '1'
        <if test="name != null and name != ''">
            and t1.name like CONCAT('%',#{name},'%')
        </if>
    </select>

</mapper>
